<html>

<head>
  <title>Todo App</title>
  <link rel="stylesheet" href="/static/styles/basic.css"/>
</head>

<body>
  <div id="error" class="hidden">Something went wrong!</div>

  <form id="form" method="post" action="/todos/create">
    <input type="text" id="description" name="description" />
    <input type="submit" value="Create" />
  </form>

  <ul id="todos">
    {% for d in data %}
    <li>
      <input class="checkbox-change" data-id="{{ d.id }}" id="check-{{ d.id }}" type="checkbox"
        name="task_done_indicator" autocomplete="off" {%
          if
          d.completed
          %} checked {%
          endif
          %}/><label for="check-{{ d.id }}">{{ d.description }}</label>
    </li>
    {% endfor %}
  </ul>

  <script>
    //———————————————————————————————————————————————————————————————
    // HANDLE NEW ITEMS CREATION
    //———————————————————————————————————————————————————————————————
    const descInput = document.getElementById("description");
    document.getElementById("form").onsubmit = (e) => {
      e.preventDefault();
      const desc = descInput.value;
      descInput.value = "";
      fetch("/todos/create", {
        method: "POST",
        body: JSON.stringify({
          description: desc,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((jsonResponse) => {
          // use the response from the server to populate newly created lis
          let li = document.createElement("li");
          let newcheckbox = document.createElement("input");
          newcheckbox.setAttribute("class", "checkbox-change");
          newcheckbox.setAttribute("id", "check" + jsonResponse.id);
          newcheckbox.setAttribute("data-id", jsonResponse.id);
          newcheckbox.setAttribute("type", "checkbox");
          newcheckbox.setAttribute("name", "task_done_indicator");
          newcheckbox.setAttribute("autocomplete", "off");
          newcheckbox.checked = jsonResponse.completed;
          let newlabel = document.createElement("label");
          newlabel.setAttribute("for", "check" + jsonResponse.id);
          newlabel.innerText = desc;

          newcheckbox.onchange = (e) => {
            const newCompleted = e.target.checked;
            const todoId = e.target.dataset["id"];
            const setCompletedState = (todoId, newCompleted) => {
              try {
                if (newCompleted === true) {
                  console.log("Task " + todoId + " got completed");
                } else if (newCompleted === false) {
                  console.log("Task " + todoId + " is not yet completed");
                }
              } catch (exception) {
                console.log('Ooooooops, some error occured!\n', exception);
              }
            }
            setCompletedState(todoId, newCompleted);
            fetch("/todos/set-completed", {
              method: "POST",
              body: JSON.stringify({
                id: todoId,
                completed: newCompleted,
              }),
              headers: {
                "Content-Type": "application/json",
              },
            })
              .then((response) => response.json())
              .then((jsonResponse) => {
                if (jsonResponse.completed) {
                  console.log(
                    "Server noted: task " + jsonResponse.id + " completed."
                  );
                } else {
                  console.log(
                    "Server noted: task " + jsonResponse.id + " uncompleted."
                  );
                }
              })
              .catch((exception) => {
                //TODO implement sending error logs to the server.
                console.log(exception);
                document.getElementById("error").className = "";
              });
          }

          li.appendChild(newcheckbox);
          li.appendChild(newlabel);
          document.getElementById("todos").appendChild(li);

          document.getElementById("error").className = "hidden";
        })
        .catch((exception) => {
          //TODO implement sending error logs to the server.
          console.log(exception);
          document.getElementById("error").className = "";
        });
    }
  </script>
</body>

</html>